---
title: Staff
permalink: /staff
---

{% for rank in site.data.staff %}

{% assign color = rank[1]['style']['color'] %}
<div id="{{ rank[0] }}">
	<a style="color: {{ color }}" href="#{{ rank[0] }}" class="title">{{ rank[1]['display_name'] }}</a>

	<hr>
	
	<div class="columns">
		{% for member in rank[1].members %}
			<div class="column is-2 mx-4">
				<div class="card">
					<div class="card-image">
						<figure class="image">
							<img src="https://crafatar.com/avatars/{{ member[1]['uuid'] }}?size=64">
						</figure>
					</div>

					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-5">{{ member[0] }}</p>
								<p class="subtitle">{{ member[1]['description'] }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<br>

</div>


{% endfor %}
